<suite name = "crossbrowser testing">
<test name = "Chrome test">
<parameter name = "Browser" value = "chrome">
</parameter>
<classes>
<class name = "Mar12.Using_DataProvider">
</class>
</classes>
</test>
<!--<test name = "Firefox test">
<parameter name = "Browser" value = "firefox">
</parameter>
<classes>
<class name = "Mar12.Using_DataProvider">
</class>
</classes>
</test>-->
<test name = "microsoftedge test">
<parameter name = "Browser" value = "MicrosoftEdge">
</parameter>
<classes>
<class name = "Mar12.Using_DataProvider">
</class>
</classes>
</test>
</suite>


